*{
    font-family: 'Merriweather', serif;
    color: black;

}
body{
    background-color: rgb(40, 17, 17);
}
.product-card{
    width: 60%;
    height: 30vh;
    margin-left: 60px;
    align-content: flex-start;
    overflow-y: scroll;
}
.product-card ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.2rem;
}
.product-card ul li{
    display: block;
    float: left;
    width: 180px;
    margin-left: -3%;
    border: 1px solid black;
    text-align: center;

}

.product-details{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1rem;
}
.product-details p{
    float: left;
    width: 300px;
    margin-left: 4px;
    text-align: center;

}